mixin core(blockData)
    .core
        .core__title-section
            .core__title-block
                h2.title.core__title
                    +animTitle(blockData.title)
                p.core__text.inview.from-opacity!=blockData.text
            .collage.collage-1
                img.img.collage-1__img.collage-1__img--1.inview.parallax(parallax src="~/assets/images/core-1.png", alt="Фотография Анны Персильд")
                img.img.collage-1__img.collage-1__img--2.inview.parallax(parallax src="~/assets/images/core-2.png", alt="Фотография Анны Персильд")
        .core__interview-section
            a(href="https://www.ecco.ru/catalog/822223/01001/")
                img.img.core__img-interview.inview.from-transform(src="~/assets/images/core-3.png", alt="Фотография Анны Персильд")
            +interview(blockData.interview)