mixin newFemininity(blockData)
    section.section.new-femininity
        .new-femininity__title-block
            h2.title.new-femininity__title
                span.new-femininity__title-item
                    +animTitle(blockData.title[0])
                span.new-femininity__title-item
                    +animTitle(blockData.title[1])
            p.new-femininity__text.inview.from-opacity!=blockData.text
        img.img.new-femininity__collage.new-femininity__collage--1.inview.parallax(parallax src="~/assets/images/new-femininity-1.png", alt="Коллаж с фотографиями Юлии и Анны Персильд")
        .new-femininity__interview-section
            .new-femininity__interview-block
                +interview(blockData.interview)
                img.img.new-femininity__img.new-femininity__img--2(parallax src="~/assets/images/new-femininity-2.png", alt="Туфли ECCO")
                a(href="https://www.ecco.ru/catalog/222933/01294/")
                    img.img.new-femininity__img.new-femininity__img--3(src="~/assets/images/new-femininity-3.png", alt="Туфли ECCO")
            .line.new-femininity__line(aria-hidden)