mixin unique(blockData)
    .unique
        .unique__title-block
            h2.title.unique__title
                +animTitle(blockData.title)
            p.unique__text.inview.from-opacity!=blockData.text
        .unique__interview-section
            .unique__collage
                img.img.unique__img.unique__img--1.inview.from-transform(src="~/assets/images/unique-1.png", alt="Сумка ECCO")
                img.img.unique__img.unique__img--2.inview.from-transform(src="~/assets/images/unique-2.png", alt="Фотография Анны Персильд")
            .unique__interview-block
                +interview(blockData.interview, 'answers-big-margin-left')
                img.img.unique__img.unique__img--3.inview.parallax(parallax src="~/assets/images/unique-3.png", alt="Кроссовок ECCO")