mixin functionality(blockData)
    section.section.functionality
        .functionality__collage.functionality__collage--1
            a(href="https://www.ecco.ru/catalog/803373/61102/")
                img.img.functionality__img.functionality__img--1.inview.from-opacity(src="~/assets/images/functionality-1.png", alt="Обувь ECCO")
            img.img.functionality__img.functionality__img--2.inview.parallax(parallax src="~/assets/images/functionality-2.png", alt="Фотография Анны и Юлии Персильд")
        .functionality__title-block
            h2.title.functionality__title
                +animTitle(blockData.title)
            .functionality__collage.functionality__collage--2
                .functionality__figure.img-wrapper(aria-hidden)
                img.img.functionality__img.functionality__img--3(src="~/assets/images/functionality-3.png", alt="Фотография Анны Персильд")
            p.functionality__text.inview.from-opacity!=blockData.text
        .functionality__interview-section
            .functionality__collage.functionality__collage--3
                img.img.functionality__img.functionality__img--4.inview.from-transform(src="~/assets/images/functionality-4.png", alt="Фотография Анны Персильд")
                .functionality__collage.functionality__collage--4
                    a(href="https://www.ecco.ru/catalog/803353/58513/")
                        img.img.functionality__img.functionality__img--5(src="~/assets/images/functionality-5.png", alt="Фотография кроссовка ECCO")
                    img.img.functionality__img.functionality__img--6(src="~/assets/images/functionality-6.png", alt="Фотография Юлии Персильд")
            .functionality__interview-block
                .line.functionality__line(aria-hidden)
                .functionality__interview-content
                    +interview(blockData.interview)
                    img.img.functionality__img.functionality__img--7.inview.parallax(parallax src="~/assets/images/functionality-7.png", alt="Фотография Анны Персильд")


