#tpl {
    .video {
        width: em(1440, $basePxDp);
        height: em(727, $basePxDp);
        margin-bottom: em(105, $basePxDp);

        @media (--viewport-mobile-pt) {
            width: em(360, $basePxMb);
            height: em(182, $basePxMb);
            margin-bottom: em(55, $basePxMb);
        }
    }
}
