mixin footer(blockData)
    section.section.footer.footer
        p.footer__text!=blockData.text
        a(href="https://www.ecco.ru/catalog/222923/51052/")
            img.img.footer__img.inview.from-transform(src="~/assets/images/footer.png", alt="Туфли ECCO")