@import "css/fonts.scss";
@import "css/utils.scss";
@import "css/vars.scss";
@import "css/globals.scss";
@import "css/elements.scss";

// components
@import "components/header/header.scss";
@import "components/outdoor/outdoor.scss";
@import "components/interview/interview.scss";
@import "components/functionality/functionality.scss";
@import "components/video/video.scss";
@import "components/newFemininity/newFemininity.scss";
@import "components/accent/accent.scss";
@import "components/unique/unique.scss";
@import "components/colorblock/colorblock.scss";
@import "components/core/core.scss";
@import "components/homage/homage.scss";
@import "components/dichotomy/dichotomy.scss";
@import "components/footer/footer.scss";
